@media (max-width: 875px) {
    #loginPage {
        #loginContainer {
            width: 60%;
            height:70%;

            #loginForm {
                width: 33%;
            }
        }
    }

    #suPage .suContainer {
        width: 50%;
    }
}